.add--form {
    @apply relative px-24px py-20px pr-80px bg-bg-primary rounded-md text-text-secondary m-16px border border-border-primary rounded-md;

    @for $i from 1 through 10 {
        &.-level#{$i} {
            margin-left: calc(#{$i} * 64px);
        }
    }

    > .bin {
        @apply absolute right-[24px] top-[20px] w-[40px] h-[40px] bg-center bg-no-repeat;
        background-image: url(../../public/img/icon-delete.svg);
    }

    > .field {
        @apply flex flex-col mb-8px;

        > .label {
            @apply font-medium text-sm mb-6px;
        }

        > .input {
            @apply py-8px px-12px border border-border-primary rounded-md text-md text-text-primary;

            &::placeholder {
                @apply text-text-placeholder;
            }

            &.-url {
                @apply pl-42px bg-no-repeat;
                background-position: 12px center;
                background-image: url(../../public/img/icon-search.svg);
            }
        }

        > .error {
            @apply mt-6px text-text-tertiary;
        }
    }

    > .buttons {
        @apply flex gap-s mt-20px;
    }
}